<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.source.mapper.HistoryDayMapper">
    <resultMap id="BaseResultMap" type="com.zy.source.pojo.HistoryDay">
        <result column="id" property="id" />
        <result column="e_id" property="eId" />
        <result column="content" property="content" />
        <result column="picNo" property="picNo" />
        <result column="url" property="url" />
        <result column="title" property="title" />
        <result column="pic_title" property="picTitle" />
        <result column="pic_id" property="picId" />
    </resultMap>

    <parameterMap id="HistoryDay" type="com.zy.source.pojo.HistoryDay"/>

    <sql id="Base_Column_List">
        id, e_id, content, picNo, url, title, pic_title, pic_id
    </sql>



</mapper>
