<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.source.mapper.JokeMapper">
    <resultMap id="BaseResultMap" type="com.zy.source.pojo.Joke">
        <result column="id" property="id" />
        <result column="content" property="content" />
        <result column="hash_id" property="hashId" />
        <result column="unix_time" property="unixtime" />
        <result column="update_time" property="updatetime" />
    </resultMap>

    <parameterMap id="JokeParameter" type="com.zy.source.pojo.Joke"/>
    <resultMap id="JokeResult" type="com.zy.source.pojo.Joke"/>

    <insert id="insterJoke" parameterMap="JokeParameter">
        INSERT INTO joke (content,hash_id,unix_time,update_time)
        VALUES (#{content},#{hashId},#{unixtime},#{updatetime})
    </insert>
    
    <select id="findByContent" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM joke WHERE content = #{content}
    </select>


</mapper>